<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<html>
    <head>
        <title>Tran Thi My Hanh</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" type="text/css" href="bootstrap/css/color.css">
        <link rel="stylesheet" type="text/css" href="bootstrap/css/style.css">
        <link href="bootstrap/css/main.css" rel="stylesheet" type="text/css"/>
        <script src="bootstrap/js/modernizr.custom.63321.js"></script>
    </head>
    <body ng-app="fashionApp" ng-controller="repeatCategory" >
    <a href="#" id="go_top"></a>
        <header>
            <div class="container">
                <div class="row ">
                    <div class="header-top">
                        
                    </div>
                </div>
            </div>
        </header>
        <section class="header-main">
            <nav class="navbar navbar-default">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">

                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#"><img src="bootstrap/img/logo.png" alt="" class="img img-responsive"/></a>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav megamenu">

                                <li><a href="#">TRANG CHỦ</a></li>
                                <li class="dropdown full-width">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">HÀNG MỚI <span class="caret"></span></a>
                                    <div class="dropdown-sub dropdown-menu sub-apmegamenu-1 container" style="width:250px">
                                        <div class="dropdown-menu-inner container">
                                            <div class="row">
                                                <div class="mega-col col-sm-6">
                                                    <div class="row">
                                                        <div ng-repeat="new in prod_new_left" class="col-sm-4">
                                                         <div class="caption">
                                                            <a href=""><img ng-src="{{new.imageUrl}}" alt="..." class="img-responsive"></a>
                                                             <a href="#">{{new.title_prod}}</a>
                                                                <p>{{new.price}}</p>
                                                          </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mega-col col-sm-6">
                                                    <div class="row">
                                                        <div ng-repeat="new in prod_new_right" class="col-sm-4">
                                                         <div class="caption">
                                                            <a href=""><img ng-src="{{new.imageUrl}}" alt="..." class="img-responsive"></a>
                                                             <a href="#">{{new.title_prod}}</a>
                                                                <p>{{new.price}}</p>
                                                          </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SẢN PHẨM <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">QUẦN</a></li>
                                        <li><a href="#">ÁO</a></li>
                                        <li><a href="#">PHỤ KIỆN</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">LIÊN HỆ</a></li>
                                <li><a href="#">GIỚI THIỆU</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i>TÀI KHOẢN <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Đăng nhập</a></li>
                                        <li><a href="#">Đăng ký</a></li>
                                        <li><a href="#">Tài khoản của tôi</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" id="search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
                                    <input type="text" class="search form-control" placeholder="Tìm kiếm">

                                </li>
                                <li>
                                    <a href="#" id="search"><span class="fa fa-cart-plus "></span><span id="CartCount" class="badge">0</span></a>
                                   
                                </li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
            </nav>
        </section>
        <section class="container">
            <div class="config">
                <div class="config-options">
                <h4 style="color:black">Colors</h4>
                <hr>
                <ul class="list-unstyled">
                    <li id="greencolor" ><a href="#">Green</a></li>
                    <li id="pinkcolor" ><a href="#">Pink</a></li>
                    <li id="bluecolor" ><a href="#">Blue</a></li>
                    <li id="blackcolor" ><a href="#">Black</a></li>
                </ul>
                </div>
                 <p class="show-options"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></p>
            </div>
            <div class="col-md-3">
                <div class="caegory-wapper">
                    <h4>Danh mục sản phẩm</h4>
                    <div class="category">

                        <a href="#">Sản phẩm mới nhập<span class="badge">20</span></a>
                        <p>--------------------------------------------</p>
                        <a href="#">Sản phẩm nổi bật<span class="badge">20</span></a>
                        <p>--------------------------------------------</p>
                        <a href="#">Sản phẩm khuyến mãi<span class="badge">20</span></a>
                    </div>
                </div>
                <div class="trademark-wapper">
                    <h4>Thương hiệu</h4>
                    <div class="trademark">
                        <a href="#" ng-repeat="trademark in trademarks">{{trademark.name}}<br><br></a>
                    </div>
                </div>
                <div class="product-wapper">
                    <h4>Loại sản phẩm</h4>
                    <div class="product">
                    <a href="#" ng-repeat="product in products">{{product.prod}}<br><br></a>
                       
                    </div>
                </div>
                <div class="menu-wapper">
                    <h4>Mục lục</h4>
                    <div class="menu">
                        <div class="size">
                        <p>Kích cỡ</p>
                            <div class="col-md-6">
                                <label><input type="checkbox" value=""> X</label><br>
                                <label><input type="checkbox" value=""> L</label>
                            </div>
                            <div class="col-md-6">
                                <label><input type="checkbox" value=""> S</label><br>
                                <label><input type="checkbox" value=""> XL</label>
                            </div>
                        </div>
                        <div class="clear" ></div>
                        <div class="price">
                            <p>Giá</p>
                            <label ng-repeat="p in prices"><input type="checkbox" value="">{{p.level}}</label>
                            
                        </div>
                    </div>
                </div>
                <div class="product-hot">
                    <h4>Bán chạy nhất</h4>
                    <div class="product">
                        <div class="media">
                          <div class="media-left">
                            <a href="#">
                              <img class="media-object" src="bootstrap/img/sp4.jpeg" alt="...">
                            </a>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">690.000₫</h4>
                            
                          </div>
                        </div>
                        <div class="media">
                          <div class="media-left">
                            <a href="#">
                              <img class="media-object" src="bootstrap/img/sp1.jpeg" onmouseover="this.src='bootstrap/img/hover-sp1.jpeg'" onmouseout="this.src='bootstrap/img/sp1.jpeg'" width="" height=""/>
                            </a>
                          </div>
                          <div class="media-body">
                           <h4 class="media-heading">10.900.000₫</h4>
                           
                          </div>
                        </div>
                        <div class="media">
                          <div class="media-left">
                            <a href="#">
                              <img class="media-object" src="bootstrap/img/sp2.jpeg" onmouseover="this.src='bootstrap/img/hover-sp2.jpeg'" onmouseout="this.src='bootstrap/img/sp2.jpeg'" width="" height=""/>
                            </a>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">740.000₫</h4>
                          
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="banner">
                    <img src="bootstrap/img/banner-main.jpg" class="img-responsive" alt="">
                </div>
                <div class="content-category">

                    <div ng-repeat="t in titles" class="col-md-3 border ">
                    <div class="view_hover">
                        <img ng-src="{{t.imageUrl}}" class="img-responsive" alt="">
                        
                        <div class="quickview">
                        <a class="quick-view btn btn-outline" href="#quick-view-product" data-handle="quan-vai-ong-suong-nine-west" title="+ Xem nhanh">
                            <i class="fa fa-eye"></i>
                        </a>
                    </div>
                    <div class="functional-buttons clearfix">
                    <div class="cart">
                        <div class="action">
                            <form action="/cart/add" method="post" enctype="multipart/form-data" class="form-ajaxtocart" id="product-actions-1036138">
                                <input type="hidden" name="id" value="1568530">
                                        <a class="btn button ajax_addtocart" href="/collections/all/products/quan-vai-ong-suong-nine-west" title="Váy 1 vai Skinny Jeans - PC41">
                                            <span class="select_options">Mua ngay</span>
                                        </a>
                                </form> 
                            </div> 
                    </div>
                        <div class="view_detail">
                            <a class="btn lnk_view" href="/collections/all/products/quan-vai-ong-suong-nine-west" title="View">
                                <i class="fa fa-link"></i>
                            </a>
                        </div>
                    
                     </div>
                 </div>
                 <div>  
                     <p><a href="#">{{t.title_product}}</a></p>
                    <p>{{t.price}}</p>
                 </div>
                    </div>

                    
                </div>
            </div>
            <div class="row next">
                <nav>
                  <ul class="pagination">
                    <li>
                      <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                      <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  </ul>
                </nav>
            </div>
        </section>
        <footer>
        <center>
        <div class="container">
        <div class="f-logo">
                <a href="#"><img ng-src="{{footers.imageUrl}}" alt=""></a>
                <p>{{footers.slogan}}</p>
        </div>
        <div class="row f-title">
            <div class="col-md-4">
            <h3>LIÊN HỆ</h3>
            <p>{{contacts.address}}</p>
            <p>Điện thoại:{{contacts.phone}}</p>
            <p>Email: {{contacts.email}}</p>
            </div>
            <div class="col-md-4 col-sm-12 social">
            <h3>KẾT NỐI VỚI MẠNG XÃ HỘI</h3>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            </div>
            <div class="col-md-4">
            <h3>BẢN TIN</h3>
            <p>Đăng ký nhận tin mới của chúng tôi để cập nhật độc quyền trên các cuộc thi, các sản phẩm mới, và nhiều hơn nữa.</p>
            <form class="form_newsletter" action="#" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
                <input type="email" value="" placeholder="Nhập Email của bạn ..." name="EMAIL" id="mail" class="newsletter-input" aria-label="Nhập Email của bạn ...">
                <button id="subscribe" class="button_mini btn" type="submit">
                   <i class="fa fa-envelope" aria-hidden="true"></i>
                </button>
                <hr>
            </form>
            </div>
        </div>
         </div>
        <div class="footer-nav container-fluid">
            <p><a href="http://myhanhpnv.hol.es/">© 2016 - TRẦN THỊ MỸ HẠNH</a></p>
        </div>
        </center>
        </footer>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
        <script src="bootstrap/js/bootstrap.js" type="text/javascript"></script>
       <script src="bootstrap/js/color.js" type="text/javascript" ></script>
        <script src="bootstrap/js/angular.js" type="text/javascript" ></script>
        <script src="bootstrap/js/main.js"></script>
        <script src="bootstrap/js/data-category.js"></script>
    </body>

</html>
