
        <script>(function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s); js.id = id;
                            js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.6";
                            fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));</script>
        <section class="cd-single-item container">
            <div class="col-md-7">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.89088352!2d108.21524931514386!3d16.07115114365454!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314218368c16c0d3%3A0xb16d0ccefe9f4300!2zODAgTMOqIER14bqpbiwgVGjhuqFjaCBUaGFuZywgUS4gSOG6o2kgQ2jDonUsIMSQw6AgTuG6tW5nLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1468402288711" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>

            <div class="col-md-5">
                <div id="contactInfo">
                        <h3>Contact Info</h3>
                        <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>{{contacts.address}}
                        </p>
                        <p class="phone"><span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                            {{contacts.phone}}
                        </p>
                        <p class="email">
                            <a href="#" class="link"><span id="__cf_email__" class="aec0cfc3cbeec3d7c3cfc7c280cdc1c3 glyphicon glyphicon-envelope"> </span>{{contacts.email}}</a>
                        </p>

                    <!-- Contact form -->
                    <div id="contactForm">
                        <h3>Message Form</h3>
                        <!-- Do not change the code! -->
                        <!-- Do not change the code! -->
                    <a id="foxyform_embed_link_793781" href="http://www.foxyform.com/">foxyform</a>
                    <script type="text/javascript">
                    (function(d, t){
                       var g = d.createElement(t),
                           s = d.getElementsByTagName(t)[0];
                       g.src = "http://www.foxyform.com/js.php?id=793781&sec_hash=f9f32eea294&width=350px";
                       s.parentNode.insertBefore(g, s);
                    }(document, "script"));
                    </script>
<!-- Do not change the code! -->
                    </div>
                </div>
            </div>
        </section> <!-- cd-single-item -->
