
        <footer>
            <center>
                <div class="container">
                    <div class="f-logo">
                        <a href="#"><img ng-src="{{footers.imageUrl}}" alt=""></a>
                        <p>{{footers.slogan}}</p>
                    </div>
                    <div class="row f-title">
                        <div class="col-md-4">
                            <h3>LIÊN HỆ</h3>
                            <p>{{contacts.address}}</p>
                            <p>Điện thoại:{{contacts.phone}}</p>
                            <p>Email: {{contacts.email}}</p>
                        </div>
                        <div class="col-md-4 col-sm-12 social">
                            <h3>KẾT NỐI VỚI MẠNG XÃ HỘI</h3>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-md-4">
                            <h3>BẢN TIN</h3>
                            <p>Đăng ký nhận tin mới của chúng tôi để cập nhật độc quyền trên các cuộc thi, các sản phẩm mới, và nhiều hơn nữa.</p>
                            <form class="form_newsletter" action="#" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
                                <input type="email" value="" placeholder="Nhập Email của bạn ..." name="EMAIL" id="mail" class="newsletter-input" aria-label="Nhập Email của bạn ...">
                                <button id="subscribe" class="button_mini btn" type="submit">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                </button>
                                <hr>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="footer-nav container-fluid">
                    <p><a href="http://myhanhpnv.hol.es/">© 2016 - TRẦN THỊ MỸ HẠNH</a></p>
                </div>
            </center>
        </footer>